<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Cedula</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Número INSS</th>
                <th scope="col">Estado</th>
                <th class="d-none d-sm-block" scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info" *ngFor="let item of employee">
                <th scope="row">{{ item.FirstName}} {{item.SecondName}}</th>
                <th scope="row">{{ item.Surname}} {{item.SecondSurname}}</th>
                <td>{{item.Cedula}}</td>
                <td>{{item.email}}</td>
                <td>{{item.DateOfBirth | date:'dd/MM/yyyy' }}</td>
                <td>{{item.NumeroINSS}}</td>
                <td>{{item.status === true ? 'Activo'
                    :
                    'Desactivado'}}</td>
                <td class="bnt-group d-none d-sm-block" role="group">
                    <button type="button" class="btn btn-outline-warning m-1" (click)="onGoToEdit(item.id)">Editar</button>
                    <button type="button" class="btn btn-outline-danger m-1"
                        (click)="onGoToDelete(item.id)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>