<form [formGroup]="formEmployeeEdit">
    <fieldset>
        <div class="form-group row">
            <div class="form-group col-md-3">
                <label class="col-sm-6 col-form-label">Primer Nombre:</label>
                <input [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" type="text"
                    formControlName="FirstName" class="form-control" placeholder="Primer Nombre">
                <div class="invalid-feedback">Requerido</div>
            </div>
            <div class="form-group col-md-3">
                <label class="col-sm-6 col-form-label">Segundo Nombre:</label>
                <input type="text" [ngClass]="{ 'is-invalid': submitted && f.SecondName.errors }"
                    formControlName="SecondName" class="form-control" placeholder="Segundo Nombre">
                <div class="invalid-feedback">Requerido</div>
            </div>
            <div class="form-group col-md-3">
                <label class="col-sm-6 col-form-label">Primer Apellido:</label>
                <input type="text" [ngClass]="{ 'is-invalid': submitted && f.Surname.errors }" formControlName="Surname"
                    class="form-control" placeholder="Primer Apellido">
                <div class="invalid-feedback">Requerido</div>
            </div>
            <div class="form-group col-md-3">
                <label class="col-sm-6 col-form-label">Segundo Apellido:</label>
                <input type="text" [ngClass]="{ 'is-invalid': submitted && f.SecondSurname.errors }"
                    formControlName="SecondSurname" class="form-control" placeholder="Segundo Apellido">
                <div class="invalid-feedback">Requerido</div>
            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col-md-3">
                <label class="col-sm-6 col-form-label">Email:</label>
                <input type="text" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email"
                    class="form-control" placeholder="Email">
                <div class="invalid-feedback">Requerido</div>
            </div>
            <div class="form-group col-md-3">
                <label class="col-sm-6 col-form-label">Cédula:</label>
                <input [dropSpecialCharacters]="false" [mask]="this.mascara" (keyup)="onKeyCedula($event)" type="text"
                    [ngClass]="{ 'is-invalid': submitted && f.Cedula.errors }" formControlName="Cedula"
                    class="form-control" placeholder="000-000000-0000X">
                <div class="invalid-feedback">Requerido</div>
            </div>
            <div class="form-group col-md-3">
                <label class="col-sm-6 col-form-label">Número INSS:</label>
                <input type="text" [ngClass]="{ 'is-invalid': submitted && f.NumeroINSS.errors }"
                    formControlName="NumeroINSS" class="form-control" placeholder="Número INSS">
                <div class="invalid-feedback">Requerido</div>
            </div>
            <div class="form-group col-md-3">
                <label class="col-sm-6 col-form-label">Fecha Cumpleaños:</label>
                <input readonly [value]="this.fechaNacimiento" type="date"
                    [ngClass]="{ 'is-invalid': submitted && f.DateOfBirth.errors }" formControlName="DateOfBirth"
                    class="form-control">
                <div class="invalid-feedback">Requerido</div>
            </div>
        </div>

        <fieldset>
            <legend class="mt-4">Estado</legend>
            <div class="form-check form-switch">
                <input class="form-check-input" formControlName="status" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Activo</label>
            </div>
        </fieldset>


        <button (click)="this.saveEmployee()" type="button" class="btn btn-primary">Guardar</button>
    </fieldset>
</form>

<div *ngIf="this.error" class="alert alert-dismissible alert-danger">
    <div *ngFor="let item of errorList">
        {{item}}
    </div>
</div>